
.galeria{
    display: grid;
    justify-content: space-around;
    align-content: space-around;
    grid-gap: 5px;
    grid-template-areas:
    "img1 img2 img3"
    "img4 img5 img6"
    "img7 img8 img9";
}

.gal{
    margin: $margin;
    margin-top: $margin-top;
    background-color: $color5;
}

.item{
    border: 0.5px dashed black;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item:hover{
    background-size: 160%;
    transition: all 4s;
}


.item1{
    grid-area: img1;
    background-image: url(/img/s1.jpg);
}

.item2{
    grid-area: img2;
    background-image: url(/img/s1.jpg);
}

.item3{
    grid-area: img3;
    background-image: url(/img/s1.jpg);
}

.item4{
    grid-area: img4;
    background-image: url(/img/s1.jpg);
}

.item5{
    grid-area: img5;
    background-image: url(/img/s1.jpg);
}

.item6{
    grid-area: img6;
    background-image: url(/img/s1.jpg);
}

.item7{
    grid-area: img7;
        background-image: url(/img/s1.jpg);
}

.item8{
    grid-area: img8;
    background-image: url(/img/s1.jpg);
}

.item9{
    grid-area: img9;
        background-image: url(/img/s1.jpg);
}




/* responsive a menos de 480 */
@media only screen and (max-width: 480px) and (orientation: portrait){
    .galeria{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 20px);
    }
    .h1{
        font-size: 16px;
    }
    .h2{
        font-size: 16px;
    }
    .h3{
        font-size: 16px;
    }
    .h4{
        font-size: 16px;
    }
    .navbar-nav{
        font-size: 16px;
    }
    .carousel-item{
        height: 100px;
    }
    #dma{
        padding: 20px;
        font-size: 16px;
        height: 350px;
        width: 350px;
    }
    #p{
        margin: $margin;
        font-family: $font1;
        font-size: 16px;
    }
    #form{
        width: 140px;
        margin-bottom: 50px;
        text-align: left;
        font-size: 16px;
        font-family: $font1;
    }
    #contactar{
        font-size: 16px;
        text-align: left;
    }
    #comentario{
        width: 240px;
    }
    .footer{
        font-size: 16px;
        padding: 10px;
    }
    .footer a{
        font-size: 16px;
        letter-spacing: 4px;
    }
    
}

/* responsive a 480 */
@media only screen and (min-width: 480px) and (orientation: portrait){
    .galeria{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 40px);
    }
    .h1{
        font-size: 22px;
    }
    .h2{
        font-size: 20px;
    }
    .h3{
        font-size: 15px;
    }
    .h4{
        font-size: 18px;
    }
    .navbar-nav{
        font-size: 20px;
    }
    .carousel-item{
        height: 250px;
    }
    #dma{
        font-size: 18px;
        height: 350px;
        width: 580px;
    }
    #p{
        margin: $margin;
        font-family: $font1;
        font-size: 18px;
    }
    #form{
        width: 240px;
        margin-bottom: 50px;
        text-align: left;
        font-size: 16px;
        font-family: $font1;
    }
    #contactar{
        font-size: 16px;
    }
    #comentario{
        width: 300px;
    }
    .footer{
        font-size: 10px;
        padding: 10px;
    }
    .footer a{
        font-size: 15px;
        letter-spacing: 4px;
    }
    
}


/* responsive a 720 */
@media only screen and (min-width: 720px) and (orientation: landscape){
    .galeria{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 80px);
    }
    #form{
        margin-bottom: 50px;
        text-align: left;
        font-family: $font1;
    }
    #contactar{
        font-size: 18px;
    }
    #comentario{
        width: 500px;
    }
}



/* responsive a 1024 */
@media only screen and (min-width: 1024px) and (orientation: landscape){
    .galeria{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 120px);
    }
}

    .item1{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .item2{
        grid-column: 2/3;
        grid-row: 1/2;
    }


    .item3{
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .item4{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .item5{
        grid-column: 2/3;
        grid-row: 2/3;
    }


    .item6{
        grid-column: 3/4;
        grid-row: 2/3;
    }


    .item7{
        grid-column: 1/2;
        grid-row: 3/4;
    }


    .item8{
        grid-column: 2/3;
        grid-row: 3/4;
    }


    .item9{
        grid-column: 3/4;
        grid-row: 3/4;
    }


