
/* responsive a 480 */
@media only screen and (min-width: 480px) and (orientation: portrait){
    #table table-bordered{
        height: 150;
        width: 250;
    }

}

/* responsive a 720 */
@media only screen and (min-width: 720px) and (orientation: landscape){
    #table table-bordered{
        height: 300;
        width: 500;
    }

}


/* responsive a 1024 */
@media only screen and (min-width: 1024px) and (orientation: landscape){
    #table table-bordered{
        height: 350;
        width: 900;
    }

}