
.blog{
    margin: $margin;
    margin-top: $margin-top;
    background-color: $color5;
}

#p{
    margin: $margin;
    font-family:'Onest', sans-serif;
    font-style: none;
    font-weight: lighter;
}

#dd{
    margin: $margin;
    text-align: left;
    font-family: $font1;
    font-style: none;
}

.row{
    margin: $margin;
}

#presentacion{
    margin: $margin;
}

#th{
    text-align: center;
    font-size: 20px;
    font-family: $font1;
    color: $color2;
    background-color: $color5;
}

#td{
    font-size: 15px;
    font-family: $font1;
    text-align: center;
    background-color: $color5;
}

.fypa{
    margin: $margin;
}
