
.blog{
    margin: $margin;
    margin-top: $margin-top;
    background-color: $color5;
}

#p{
    margin: $margin;
    font-family:'Onest', sans-serif;
    font-style: none;
    font-weight: lighter;
}

#dd{
    margin: $margin;
    text-align: left;
    font-family: $font1;
    font-style: none;
}

.row{
    margin: $margin;
}

#presentacion{
    margin: $margin;
}
