*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Onest:wght@200&display=swap');

$color1: rgb(147, 146, 146);
$color2: rgb(60, 60, 60);
$color3: rgb(89, 88, 88);
$color4: rgb(164, 155, 155);
$color5: #e9ecef;


$font1: 'Onest', sans-serif;
$font2: 'Onest', sans-serif;

$margin: 20px;
$margin-top: 50px;



header{
    background-image: url(../img/s4.jpg);
    position: static;
    top: 0;
    background-size: 100% 50vh;
    background-repeat: no-repeat; 
    background-position: center top;
    text-align: center;
}


h1{
    color: $color1;
    text-align: center;
    font-size: 40px;
    font-weight: bold; 
    font-family: $font2;
    text-shadow: 0 0 0.5px #2a2a2a;
}


h2{
    color: $color2;
    text-align: center;
    list-style: none;
    font-family: $font1;
    font-size: 28px;
    font-weight: bold;
}

h3{
    color: $color2;
    padding: 10px;
    font-family: $font1;
    font-size: 20px;
    font-weight: lighter;
}

h4{
    color:  $color3;
    padding: 8px;
    text-align: left;
    font-family: $font1;
    font-size: 24px;
}

h5{
    color:  $color3;
    padding: 30px;
    text-align: center !important;
    font-family: 'Onest', sans-serif;
    font-size: 24px;
}


.navbar-nav{
    list-style: none;
    font-family: $font1;
    font-size: 28px;
}

.collapse{
    display: flex;
    justify-content: flex-end;
}

.nav-item{
    list-style: none;
    display: inline-block;
    text-decoration: none;
}

.carousel-control-prev, .carousel-control-next{
    background-color: $color4;
    
}

.carousel-indicators button{
    height: 20px;
    border: 2px solid $color4;
}

.carousel-item{
    height: 450px;
}


@import "_galeria";


.tabla{
    margin: 40px;
    text-align: center;
}

@import "_horarios";


th{
    font-size: 20px;
    font-family: $font1;
    color: $color2;
    background-color: $color5;
}

td{
    font-size: 15px;
    font-family: $font1;
    text-align: center;
}


#form{
    margin: 10px;
    margin-bottom: 50px;
    padding: 20px;
    text-align: left;
    font-size: 18px;
    font-family: $font1;
}

section{
    padding: 20px;
}

.class{
    position: center;
}

aside{
    margin: $margin;
    margin-top: $margin-top;
    text-align: left;
}

article{
    margin: $margin;
    margin-top: $margin-top;
    margin-top: 50px;
    background-color: $color5;
}

#subs{
    margin: auto;
    text-align: center;
}

.dt{
    margin: $margin;
    text-align: left;
    font-family: $font1;
    font-style: none;
    font-weight: lighter;
}

#info{
    background-color: white;
    margin: $margin;
    margin-top: $margin-top;
    margin-bottom: 50px;
    text-decoration: none;
    font-family: $font1;
    font-weight: normal !important;

}

.dd{
    margin: $margin;
    text-align: left;
    font-family: $font1;
    font-style: none;
}


footer{
    background-color: #d7d4d4;
    color:$color2;
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

footer a{
    color: $color2;
    font-size: 25px;
    letter-spacing: 8px;
}